{% extends "base.html" %}

{% block content %}

<div class="form-page">

    <div class="product-form-card">

        <h1>
            ➕ Add New Product
        </h1>

        <p class="form-subtitle">
            Create and publish a new product
        </p>

        <form method="POST">

            <div class="form-group">

                <label>
                    Product Name
                </label>

                <input
                    type="text"
                    name="name"
                    placeholder="Enter product name"
                    required
                >

            </div>

            <div class="form-group">

                <label>
                    Description
                </label>

                <textarea
                    name="description"
                    rows="4"
                    placeholder="Enter product description"
                    required
                ></textarea>

            </div>

            <div class="form-row">

                <div class="form-group">

                    <label>
                        Price (₹)
                    </label>

                    <input
                        type="number"
                        name="price"
                        placeholder="Price"
                        required
                    >

                </div>

                <div class="form-group">

                    <label>
                        Stock
                    </label>

                    <input
                        type="number"
                        name="stock"
                        placeholder="Stock"
                        required
                    >

                </div>

            </div>

            <div class="form-group">

                <label>
                    Image URL
                </label>

                <input
                    type="text"
                    name="image"
                    placeholder="Paste image URL"
                >

            </div>

            <button
                type="submit"
                class="btn save-btn">

                Save Product

            </button>

            <a href="/admin"
               class="btn secondary-btn">
                Cancel
            </a>

        </form>

    </div>

</div>

{% endblock %}
