{% extends "base.html" %}

{% block content %}

<h1 class="section-title">
    ⚙️ Admin Dashboard
</h1>

<div class="admin-header">

    <a href="/admin/add"
       class="btn add-btn">
        ➕ Add Product
    </a>

</div>

<div class="admin-table-container">

<table class="admin-table">

    <thead>

        <tr>

            <th>ID</th>

            <th>Image</th>

            <th>Name</th>

            <th>Price</th>

            <th>Stock</th>

            <th>Actions</th>

        </tr>

    </thead>

    <tbody>

        {% for product in products %}

        <tr>

            <td>{{ product.id }}</td>

            <td>

                <img
                    src="{{ product.image }}"
                    class="admin-image"
                    alt="{{ product.name }}"
                >

            </td>

            <td>{{ product.name }}</td>

            <td class="price">
                ₹ {{ product.price }}
            </td>

            <td>

                {% if product.stock > 0 %}

                    <span class="badge available">
                        {{ product.stock }}
                    </span>

                {% else %}

                    <span class="badge unavailable">
                        Out
                    </span>

                {% endif %}

            </td>

            <td>

                <a href="/admin/edit/{{ product.id }}"
                   class="btn edit-btn">
                    ✏️ Edit
                </a>

                <a href="/admin/delete/{{ product.id }}"
                   class="btn delete-btn"
                   onclick="return confirm('Delete this product?')">
                    🗑 Delete
                </a>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

</div>

{% endblock %}
