{% extends "base.html" %}

{% block content %}

<div class="product-page">

    <div class="product-image">

        <img src="{{ product.image }}"
             alt="{{ product.name }}">

    </div>

    <div class="product-details">

        <h1>{{ product.name }}</h1>

        <p class="product-description">
            {{ product.description }}
        </p>

        <h2 class="product-price">
            ₹ {{ product.price }}
        </h2>

        {% if product.stock > 0 %}

            <span class="badge available">
                In Stock ({{ product.stock }})
            </span>

        {% else %}

            <span class="badge unavailable">
                Out of Stock
            </span>

        {% endif %}

        <br><br>

        <a href="/add-to-cart/{{ product.id }}"
           class="btn">
            🛒 Add to Cart
        </a>

        <a href="/"
           class="btn secondary-btn">
            ← Continue Shopping
        </a>

    </div>

</div>

{% endblock %}
